<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Client Form</title>
    <style>
        .error {
           color: red;
        }
    </style>

</head>
<body>

Fill the form. Enter data in required fields.
<br><br>
<!--Это чтобы между полями была пустая строка и -->
<!--чтобы поля не шли в строчку одно за другим-->

<form th:action="@{/processForm}" th:object="${client}" method="post">

    First name: <input type="text" th:field="*{firstName}">
    <br><br>
    Last name*: <input type="text" th:field="*{lastName}">
    <!--    Помечено * т.к. поле обязательно к заполнению-->

<!--    Когда мы запускаем наше приложение у нас отображается всё кроме -->
<!--    того что расположено между открывающим и закрывающим тегами span-->
<!--    А если у нас данные не прошли валидацию, то срабатывает то что-->
<!--    расположено между открывающим и закрывающим тегами span-->

    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="${client.lastName}"
          class = "error">
    </span>

    <br><br>
    Age*: <input type="text" th:field="*{age}">
    <!--    Помечено * т.к. поле обязательно к заполнению-->

    <span th:if="${#fields.hasErrors('age')}"
          th:errors="${client.age}"
          class = "error">
    </span>

    <br><br>
    Zip code: <input type="text" th:field="*{zipCode}">
    <!--    Помечено * т.к. поле обязательно к заполнению-->

    <span th:if="${#fields.hasErrors('zipCode')}"
          th:errors="${client.zipCode}"
          class = "error">
    </span>

    <br><br>
    Car number: <input type="text" th:field="*{carNumber}">
    <!--    Помечено * т.к. поле обязательно к заполнению-->

    <span th:if="${#fields.hasErrors('carNumber')}"
          th:errors="${client.carNumber}"
          class = "error">
    </span>

    <br><br>
    <input type="submit">

<!--    После введения данных на форме и нажатия на кнопку Submit-->
<!--    нас перекидывает в браузере со страницы /client на страницу /processForm-->

</form>

</body>
</html>